<% include ./partials/header %>
<style type=text/css>
body {
    background:url(../images/fishingboi.jpg) no-repeat center center fixed;
    background-size:cover;
}
#content {
    color:white;
    text-align: center;
    padding-top:25%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
			 0px 8px 13px rgba(0,0,0,0.1),
			 0px 18px 23px rgba(0,0,0,0.1);
}
hr {
    width:600px;
    border-top:1px solid #f8f8f8;
    border-bottom:2px solid rgba(0,0,0,0.2);
}
</style>

<div class="container" id="landing">
    <div class="row">
        <div class="col-12">
            <div id="content">
                <h1>My Fishing journal</h1>
                <h3>The Best Journal for your Fishing Adventures</h3>
                <hr>
                <button class="btn btn-default btn-lg"><i class="fas fa-book"></i> Get Started!</button>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>