<% include ./partials/header %>
<div class="container">
    <a href="/myjournal/new" class="btn  btn-primary">Create New</a>
</div>
<div class="container">
    <div class="row" style="display:flex; flex-wrap:wrap;">
         <% entry.forEach(function(entry) { %>
            <div class="col-md-4 col-sm-6" style="margin-bottom:25px;">
                <div class="border">
                    <img src="<%=entry.image%>" class="img-thumbnail">
                    <div class="text-center" id="captions">
                        <h5><%=entry.title%></h5>
                        <p class="text-center text-muted font-italic">
                        <%=entry.date%>
                        </p>
                    </div>
                    <div class="text-center">
                         <a href="/myjournal/<%=entry._id%>" class="btn btn-info" id="readbtn">Read Entry</a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<% include ./partials/footer %>